{% extends 'main/base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <main class="container">
          <div class="bg-light p-5 rounded">
            <h1>Бета тест</h1>
            <p class="lead">Пока что этот сайт находится в этапе разработки</p>
            <a class="btn btn-lg btn-primary" href="{% url 'about' %}" role="button">Узнать подробнее</a>
          </div>
    </main>
    <div class="container">
            <br>
            <h3>Если вы нашли баг то пожалуйста напишите на почту <a href="mailto:ava200ava@gmail.com?subject=Нет ответа" class="mail">ava200ava@gmail.com</a></h3>
    </div>
{% endblock %}