{% extends 'main/base.html' %}
{#{% load crispy_forms_tags %}#}
{% block title %}{{ task.title }}{% endblock %}
{% load humanize %}
{% block content %}
    <style>
        #link {
            position: relative;
            color: #00a650; /*задаём цвет ссылки*/
            cursor: pointer;
            line-height: 1; /*задаём высоту строки*/
            text-decoration: none; /*убираем подчёркивание*/

        }
        #link:after {
            display: block;
            position: absolute;
            left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
            width: 0;/*задаём длинну линии до наведения курсора*/
            height: 2px; /*задаём ширину линии*/
            background-color: #00a650; /*задаём цвет линии*/
            content: "";
            transition: width 0.3s ease-out; /*задаём время анимации*/
        }

        #link:hover:after,
        #link:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }
    </style>
    <div class="container">
        <div class="alert alert-primary mt-3" style="word-wrap: break-word;">
{#            <div style="width:30%;" class="bg-info rounded-circle">#}
{#                <img src="{{ user.profile.get_avatar }}">#}
            <a href="{{ task.user.get_absolute_url }}"><img class="avatar avatar-32 bg-light rounded-circle text-white"
                    src="/{{ task.user.avatar }}" width="32px" height="32px"></a>
            <a href="{{ task.user.get_absolute_url }}" id="link">{{ task.user }}</a>
            <h1>{{ task.title }}</h1>

            <p style="white-space: pre-line">{{ task.task }}</p>
            {% if task.img %}
                <p><img src="{{ task.img.url}}" alt="{{ task.task }}" width="100%" height="50%"></p>
            {% else %}
                <p></p>
            {% endif %}
            <p class="text-end">{{ task.data|naturaltime }}</p>



        </div>
        <p>Комментарии {{ task.comments_task.all.count }}</p>
        <hr>
        {% if user.is_authenticated %}
            <p>Добавить комментарий</p>
            <form action="" id="add_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.text }}<br>
                {{ form.img}}<br>
            </form>
            <div class="modal-footer">
                <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <a href="{% url 'register' %}">Зарегиструйтесь чтобы оставлять комментарии</a>
            </div>
        {% endif %}
            {% for item in task.comments_task.all %}
                <div class="alert alert-warning">
                    <img class="avatar avatar-32 bg-light rounded-circle text-white" src="/{{ item.author.avatar }}" width="32px" height="32px">
                    <a id="link" href="{{ item.author.get_absolute_url }}">{{ item.author }}</a><br><br>
                    <div style="white-space: pre-line">{{ item.text }}<br></div>
                    <div class="math"></div>
                    {% if item.img %}
                        <img src="{{ item.img.url }}" width="100%" height="50%">
                    {% endif %}
                    <div class="modal-footer">
{#                        <p class="text-end">{{ item.create_date|naturaltime }}</p>#}
                        {{ item.create_date|naturaltime }}
                        <br>
                    </div>
                </div>
            {% endfor %}


    </div>


{% endblock %}